{% extends 'base.html' %}


    {% block head %}
    <title>Home</title>
    {% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <div class="col-md-4">
    <p>Username : {{ user }}</p>
    <p>First Name : {{ user.first_name }}</p>
    <p>Last Name : {{ user.last_name }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Description : {{ user.userprofile.description }}</p>
    <p>City : {{ user.userprofile.city }}</p>
    <p>Website : {{ user.userprofile.website }}</p>
    <p>Phone : {{ user.userprofile.phone }}</p>
</div>
<div class="col-md-4">
    {% if user.userprofile.image %}
        <img src= "{{ user.userprofile.image.url}}" alt="no image" style="width: 200px; height: 200px;">
    {% endif %}
</div>
</div>
{% endblock %}
