{% extends 'base.html' %}
{% block body %}
<div class="col-md-12">
{% for usr in users %}
 <div class="well well-sm " style="border: 2px solid #B1D1F6;background-color: #ECF8F7;border-radius: 20px">
{% if usr in requestbymeuser %}
  {% if usr.userprofile.image %}
        <img src= "{{ usr.userprofile.image.url }}"  alt="no image" style="width: 150px; height: 150px;">
    {% else %}
        <img src= "profile_image/noprofile.png"  alt="no image" style="width: 150px; height: 150px;">
    {% endif %}
  <div class="col-md-9" style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">
   <b>{{ usr.username }} ({{usr.first_name}} {{usr.last_name }})</b>
   <br>
   {% if usr.userprofile.city != "" %}
   <i>{{usr.userprofile.city}}</i>
       <br>
   {% endif %}
   <i>Request Sent</i>
  </div>
{% else %}
  {% if usr.userprofile.image %}
        <img src= "{{ usr.userprofile.image.url }}"  alt="no image" style="width: 150px; height: 150px;">
    {% else %}
        <img src= "profile_image/noprofile.png"  alt="no image" style="width: 150px; height: 150px;">
    {% endif %}
  <div class="col-md-9" style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">
   <b>{{ usr.username }} ({{usr.first_name}} {{usr.last_name }})</b>
   <br>
   {% if usr.userprofile.city != "" %}
   <i>{{usr.userprofile.city}}</i>
       <br>
   {% endif %}
   <a href="{% url 'friendship:friendship_add_friend' to_username=usr.username %}">Add as Friend</a>
  </div>
   {% endif %}
 </div>
<br>
{% endfor %}
</div>
{% endblock %}